 body {
      font-family: Arial, sans-serif;
      text-align: center;
      background-color: #f0f0f0;
      color: white;
      background-attachment: ;
      padding: 20px;

    }

     .background{
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-image: url('GYny.gif');
      background-position: center;
      background-size: cover;
      overflow: hidden;
    }

    .background p{
      padding: 0 ;
      margin: 0 15px 15px 15px;
    }
    .background h1{
      margin: 0 15px 5px 15px;
    }
    .background h2{
      margin: 15px 15px 5px 15px;
    }


    img{
      width: 20vw;
      height: 43vh;
      border-radius: 50%;
      margin-left: 40%;
    }

    a{
      text-decoration: none;
    }

    .Button{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 15px 30px;
      margin-left: 20px;
     }

    .Button button{
      background-color: #007bff;
      color: white;
      border: none;
      padding: 15px 30px;
      margin: 20px;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }

   
